#blob {
    background-color: white;
    height: 250px;
    aspect-ratio: 1;
    position: absolute; /*May change to fixed to allow scroll control*/
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
body {
    background-color: black;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}