#blob {
    background-color: white;
    height: 250px;
    aspect-ratio: 1;
    position: absolute; /*May change to fixed to allow scroll control*/
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50px;
}
body {
    background-color: black;
}